<h1>{{recipeHbs.title}}</h1>
<p>Difficulty level: {{recipeHbs.level}}</p>
<p>Type of cuisine: {{recipeHbs.cuisine}}</p>
<p>Type of meal: {{recipeHbs.dishType}}</p>
<p>Prep time: {{recipeHbs.duration}} minutes</p>
<p hidden>Created by: {{recipeHbs.creator}}</p>
<img src="{{recipeHbs.image}}" alt="">
<br>
<br>
<a href="/recipes/update/{{recipeHbs._id}}">Update a recipe</a>